# Output Files #
/target
/.classpath
/.project
/.settings
/.DS_Store

*.class

# Package Files #

*.war
*.ear

# IDE Files #


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore version numbering
buildNumber.properties

# Ignore auto-copied files #
/src/main/webapp/fonts
/src/main/webapp/images
/src/main/webapp/scripts
/src/main/webapp/styles
/src/main/webapp/*.html
/src/main/webapp/*.txt
/src/main/webapp/*.ico


