
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical panel-default">

    <!-- Notifications Area -->
    <div pf-toast-notification-list notifications="ctrl.notifications" show-close="ctrl.showClose" close-callback="ctrl.handleClose" update-viewing="ctrl.updateViewing"></div>

    <!-- Top Header -->
    <div class="row panel-heading">
        <div class="col-md-10">
            <h2 class="panel-title">{{ctrl.user.usernameKey}}</h2>
        </div>
        <div class="col-md-2">
            <a ui-sref="users" class="pointer pull-right">Back to list</a>
        </div>
    </div>

    <div class="row"><p></p></div>

    <!-- tabs-->
    <div class="row">
        <div class="col-md-10">
            <ul class="nav navbar-nav navbar-primary nav-tabs col-md-12">
                <li ng-class="(ctrl.tabId == 'info') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('info')">Info</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2" ng-show="ctrl.tabId == 'info'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.saveChanges()">Save Changes</button>
        </div>
    </div>

    <!-- General Info -->
    <div class="row" ng-show="ctrl.tabId == 'info'">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-usernameKey">User Key:</label>
                <span class="col-sm-4" id="text-usernameKey">{{ctrl.user.usernameKey}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-firstName">First Name:</label>
                <span class="col-sm-4" id="text-firstName">{{ctrl.user.firstName}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-lastName">Last Name:</label>
                <span class="col-sm-4" id="text-lastName">{{ctrl.user.lastName}}</span>
            </div>

            <!-- Display Name -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-displayName">Display Name:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-displayName" class="form-control" ng-model="ctrl.user.displayName">
                </div>
            </div>
            <!-- Audit Info -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-createDate">Created On:</label>
                <span class="col-sm-4" id="text-createDate">{{ctrl.user.createDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateDate">Updated On:</label>
                <span class="col-sm-4" id="text-updateDate">{{ctrl.user.updateDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateBy">Updated By:</label>
                <span class="col-sm-4" id="text-updateBy">{{ctrl.user.updateBy}}</span>
            </div>
        </form>
    </div>

    <div class="row"><p></p></div>

</div>

<!--
 * # MdaUserModel
 * {
 *    usernameKey: string,
 *    firstName: string,
 *    lastName: string,
 *    displayName: string,
 *
 *    createDate: string (ISO8601 date),
 *    updateDate: string (ISO8601 date),
 *    updateBy: string
 *
 * }
-->