
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical panel-default">

    <!-- Notifications Area -->
    <div pf-toast-notification-list notifications="ctrl.notifications" show-close="ctrl.showClose" close-callback="ctrl.handleClose" update-viewing="ctrl.updateViewing"></div>

    <!-- Top Header -->
    <div class="row panel-heading">
        <div class="col-md-10">
            <h2 class="panel-title">{{ctrl.relation.fullRelationName}}</h2>
        </div>
        <div class="col-md-2">
            <a ui-sref="relations" class="pointer pull-right">Back to list</a>
        </div>
    </div>

    <div class="row"><p></p></div>

    <!-- tabs-->
    <div class="row">
        <div class="col-md-10">
            <ul class="nav navbar-nav navbar-primary nav-tabs col-md-12">
                <li ng-class="(ctrl.tabId == 'info') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('info')">Info</a>
                </li>
                <li ng-class="(ctrl.tabId == 'columns') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('columns')">Columns</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2" ng-show="ctrl.tabId == 'info'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.saveChanges()">Save Changes</button>
        </div>
    </div>

    <div class="row"><p></p></div>

    <!-- General Info -->
    <div class="row" ng-show="ctrl.tabId == 'info'">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-relationKey">Relation Key:</label>
                <span class="col-sm-4" id="text-relationKey">{{ctrl.relation.relationKey}}</span>

                <label class="col-sm-2 control-label" for="text-fullRelationName">Relation Name:</label>
                <span class="col-sm-4" id="text-fullRelationName">{{ctrl.relation.fullRelationName}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-dbName">Database:</label>
                <span class="col-sm-4" id="text-dbName">{{ctrl.relation.dbName}}</span>

                <label class="col-sm-2 control-label" for="text-relationSource">Source:</label>
                <span class="col-sm-4" id="text-relationSource">{{ctrl.relation.relationSource}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-relationTypeCd">Type:</label>
                <span class="col-sm-4" id="text-relationTypeCd">{{ctrl.relation.relationTypeCd}}</span>

                <label class="col-sm-2 control-label" for="text-relationScore">Score:</label>
                <span class="col-sm-4" id="text-relationScore">{{ctrl.relation.relationScore}}</span>
            </div>

            <!-- Display Name -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-displayName">Display Name:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-displayName" class="form-control" ng-model="ctrl.relation.displayName">
                </div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-description">Description:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-description" class="form-control" ng-model="ctrl.relation.description">
                </div>
            </div>

            <!-- Audit Info -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-createDate">Created On:</label>
                <span class="col-sm-4" id="text-createDate">{{ctrl.relation.createDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateDate">Updated On:</label>
                <span class="col-sm-4" id="text-updateDate">{{ctrl.relation.updateDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateBy">Updated By:</label>
                <span class="col-sm-4" id="text-updateBy">{{ctrl.relation.updateBy}}</span>
            </div>
        </form>
    </div>

    <!-- Parent Column Info -->
    <div class="panel panel-default" ng-show="ctrl.tabId == 'columns'">
        <div class="panel-heading">
            <h3 class="panel-title">Parent Column</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text-columnKeyPar">Column Key:</label>
                    <span class="col-sm-4" id="text-columnKeyPar">{{ctrl.relation.columnKeyPar}}</span>

                    <label class="col-sm-2 control-label" for="text-columnNamePar">Column Name:</label>
                    <span class="col-sm-4" id="text-columnNamePar">{{ctrl.relation.columnNamePar}}</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text-tableNamePar">Table:</label>
                    <span class="col-sm-4" id="text-tableNamePar">{{ctrl.relation.tableNamePar}}</span>

                    <label class="col-sm-2 control-label" for="text-schemaNamePar">Schema:</label>
                    <span class="col-sm-4" id="text-schemaNamePar">{{ctrl.relation.schemaNamePar}}</span>
                </div>
            </form>
        </div>
    </div>

    <!-- Referenced Column Info -->
    <div class="panel panel-default" ng-show="ctrl.tabId == 'columns'">
        <div class="panel-heading">
            <h3 class="panel-title">Referenced Column</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text-columnKeyPar">Column Key:</label>
                    <span class="col-sm-4" id="text-columnKeyRef">{{ctrl.relation.columnKeyRef}}</span>
                    <label class="col-sm-2 control-label" for="text-columnNamePar">Column Name:</label>
                    <span class="col-sm-4" id="text-columnNameRef">{{ctrl.relation.columnNameRef}}</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text-tableNameRef">Table:</label>
                    <span class="col-sm-4" id="text-tableNameRef">{{ctrl.relation.tableNameRef}}</span>

                    <label class="col-sm-2 control-label" for="text-schemaNameRef">Schema:</label>
                    <span class="col-sm-4" id="text-schemaNameRef">{{ctrl.relation.schemaNameRef}}</span>
                </div>
            </form>
        </div>
    </div>

    <!-- DXP Info -->
    <div class="panel panel-default" ng-show="ctrl.tabId == 'columns'">
        <div class="panel-heading">
            <h3 class="panel-title">DXP Reference</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text-dxpColumnGkPar">Parent Column GK:</label>
                    <span class="col-sm-4" id="text-dxpColumnGkPar">{{ctrl.relation.dxpColumnGkPar}}</span>

                    <label class="col-sm-2 control-label" for="text-dxpColumnGkRef">Referenced Column GK:</label>
                    <span class="col-sm-4" id="text-dxpColumnGkRef">{{ctrl.relation.dxpColumnGkRef}}</span>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text-dxpColumnGk">Column GK:</label>
                    <span class="col-sm-4" id="text-dxpColumnGk">{{ctrl.relation.dxpColumnGk}}</span>

                    <label class="col-sm-2 control-label" for="text-dxpTableGk">Table GK:</label>
                    <span class="col-sm-4" id="text-dxpTableGk">{{ctrl.relation.dxpTableGk}}</span>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text-tableId">Table Id</label>
                    <span class="col-sm-4" id="text-tableId">{{ctrl.relation.tableId}}</span>
                </div>
            </form>
        </div>
    </div>
</div>


<!--  # MdaRelationModel
* {
*    relationKey: int,
*    fullRelationName: string,
*    dbName: string,

*    columnKeyPar: int,
*    columnKeyRef: int,
*    schemaNamePar: string,
*    tableNamePar: string,
*    columnNamePar: string,
*    schemaNameRef: string
*    tableNameRef: string,
*    columnNameRef: string,

*    displayName: string,
*    description: string,

*    relationTypeCd: string,
*    relationSource: string,
*    relationScore: double,
*    dxpColumnGkPar: int,
*    tableId: string,
*    dxpColumnGk: int,
*    dxpTableGk: int,
*    dxpColumnGkRef: int,
*
*    createDate: string (ISO8601 date),
*    updateDate: string (ISO8601 date),
*    updateBy: string
*
* }
-->