

<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-sub-menus   ">
  <!-- Row 1 -->
  <div class="row row-cards-pf">
    <dashboard-card title="Systems" state="systems" count="ctrl.statistics.systemsCount" image="pficon pficon-image" ></dashboard-card>
    <dashboard-card title="Entities" state="entities" count="ctrl.statistics.entitiesCount" image="fa fa-cubes" ></dashboard-card>
    <dashboard-card title="Servers" state="servers" count="ctrl.statistics.serversCount" image="pficon pficon-cluster" ></dashboard-card>
  </div>

  <!-- Row 2 -->
  <div class="row row-cards-pf">
    <dashboard-card title="Databases" state="databases" count="ctrl.statistics.databasesCount" image="fa fa-database" ></dashboard-card>
    <dashboard-card title="Schemas" state="schemas" count="ctrl.statistics.schemasCount" image="fa fa-sitemap" ></dashboard-card>
    <dashboard-card title="Tables" state="tables" count="ctrl.statistics.tablesCount" image="fa fa-table" ></dashboard-card>
  </div>

  <!-- Row 3 -->
  <div class="row row-cards-pf">
    <dashboard-card title="Columns" state="columns" count="ctrl.statistics.columnsCount" image="fa fa-columns" ></dashboard-card>
    <dashboard-card title="Relations" state="relations" count="ctrl.statistics.relationsCount" image="fa fa-link" ></dashboard-card>
    <dashboard-card title="Processes" state="processes" count="ctrl.statistics.processesCount" image="fa fa-cog" ></dashboard-card>
  </div>

  <!-- Row 4 -->
  <div class="row row-cards-pf">
    <dashboard-card title="Users" state="users" count="ctrl.statistics.usersCount" image="fa fa-user" ></dashboard-card>
  </div>
</div>


<!--
 * # StatisticsModel
 * {
 *    entitiesCount: int,
 *    systemsCount: int,
 *    serversCount: int,
 *    databasesCount: int,
 *    schemasCount: int,
 *    tablesCount: int,
 *    columnsCount: int,
 *    relationsCount: int,
 *    usersCount: int
 * }
-->