
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical" ng-controller="tablesController">
    <div class="row">
        <div class="col-md-12">
            <div pf-toolbar id="ctrl.toolbar" config="ctrl.toolbarConfig"></div>
        </div>
    </div>


    <!-- The data table view -->
    <div class="col-md-12" ng-if="ctrl.viewType == 'tableView'">

        <!--<table datatable="ng" class="datatable table table-striped table-bordered">-->
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th># Rows</th>
                    <th># Columns</th>
                    <th>Object Type</th>
                    <th>Primary Key</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.items">
                    <td>{{ item.tableName }}</td>
                    <td>{{ item.displayName }}</td>
                    <td>{{ item.tableRowCount }}</td>
                    <td>{{ item.tableNumOfCols }}</td>
                    <td>{{ item.objectType }}</td>
                    <td>{{ item.tablePk }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!--
 * # MdaTableModel
 * {
 *    tableKey: int,
 *    fullTableName: string,
 *    schemaKey: int,
 *    dbName: string,
 *    schemaName: string,
 *    tableName: string,
 *    displayName: string,
 *    description: string,
 *    tableRowCount: int,
 *    tableNumOfCols: int,
 *    objectType: string,
 *    tablePk: string,
 *    tableId: int,
 *    dxpTableGk: int,
 *
 *    columns: [...MdaColumnModel],
 *
 *    createDate: string (ISO8601 date),
 *    updateDate: string (ISO8601 date),
 *    updateBy: string
 *
 * }
-->