
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical" ng-controller="columnsController">

    <!-- Notifications Area -->
    <div pf-toast-notification-list notifications="ctrl.notifications" show-close="true" close-callback="ctrl.handleClose" update-viewing="ctrl.updateViewing"></div>

    <!-- Toolbar -->
    <div class="row">
        <div class="col-md-12">
            <div pf-toolbar id="toolbar" config="ctrl.toolbarConfig"></div>
        </div>
    </div>

    <!-- The Card view -->
    <div class="col-md-12 card-view-container" ng-if="ctrl.viewType == 'cardView'">
        <div pf-card-view id="columnsCardView" class="card-pf-view"
             config="ctrl.cardConfig"
             items="ctrl.items">

            <div class="card-pf-body">
                <a ui-sref="column({key: {{item.columnKey}}})" class="pointer">
                    <div class="card-pf-top-element">
                        <span class="fa fa-key card-pf-icon-circle" ng-if="item.isPk"></span>
                        <span class="fa fa-columns card-pf-icon-circle" ng-if="item.isPk == false"></span>
                    </div>
                </a>
                <h3 class="card-pf-title text-center">{{item.displayName}}</h3>

                <div class="card-pf-items text-center">
                    <div class="card-pf-item"  data-toggle="tooltip" title="Data Type">
                        <span class="fa fa-tag"></span>
                        <span class="card-pf-item-text">{{item.columnDataType}}</span>
                    </div>
                </div>

                <div class="card-pf-info text-center">
                    <div class="card-pf-item" data-toggle="tooltip" title="Relations">
                        <span class="fa fa-link"></span>
                        <span class="card-pf-item-text"><a ui-sref="schemas">Relations</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The list view -->
    <div class="col-md-12 list-view-container" ng-if="ctrl.viewType == 'listView'">
        <div pf-list-view id="columnsListView"
             config="ctrl.listConfig"
             items="ctrl.items"
             action-buttons="ctrl.listActionButtons">

            <div class="list-view-pf-main-info">

                <a ui-sref="column({key: {{item.columnKey}}})" class="pointer">
                    <div class="list-view-pf-left">
                        <span class="fa fa-key list-view-pf-icon-sm" ng-if="item.isPk"></span>
                        <span class="fa fa-columns list-view-pf-icon-sm" ng-if="item.isPk == false"></span>
                    </div>
                </a>

                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{item.displayName}}
                        </div>
                        <div class="list-group-item-text">
                            {{item.columnDataType}}
                        </div>
                    </div>

                    <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item">
                            <span class="fa fa-sitemap"></span>
                            <span class="list-group-item-text">{{item.schemaName}}</span>
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="fa fa-table"></span>
                            <span class="list-group-item-text">{{item.tableName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The data table view -->
    <div class="col-md-12" ng-if="ctrl.viewType == 'tableView'">
        <table class="table table-striped table-bordered row-border column-border hover">
            <thead>
                <tr>
                    <th style="width: 5%">Type</th>
                    <th style="width: 20%">Column</th>
                    <th style="width: 10%">Data Type</th>
                    <th style="width: 20%">Table</th>
                    <th style="width: 20%">Display Name</th>
                    <th style="width: 20%">Description</th>
                    <th style="width: 5%">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.items">
                    <td><span class="fa fa-key" ng-show="item.isPk" data-toggle="tooltip" title="Primary key"></span></td>
                    <td><a ui-sref="column({key: {{item.columnKey}}})" class="pointer">{{ item.columnName }}</a></td>
                    <td>{{ item.columnDataType }}</td>
                    <td>{{ item.tableName }}</td>

                    <td><span editable-text="item.displayName" e-name="name" e-form="rowform">{{ item.displayName || "" }}</span>
                    <td><span editable-text="item.description" e-name="description" e-form="rowform">{{ item.description || "" }}</span>
                    <td>
                        <form editable-form name="rowform" onaftersave="ctrl.saveChanges($data, item)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="false">
                            <button type="submit" ng-disabled="rowform.$waiting"><span class="fa fa-check"></span></button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" ><span class="fa fa-close"></span></button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button ng-click="rowform.$show()"><span class="pficon pficon-edit pointer"></span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<!--
*    columnKey: int,
*    fullColumnName: string,
*    tableKey: int,
*    dbName: string,
*    schemaName: string,
*    tableName: string,
*    columnName: string,
*    displayName: string,
*    description: string,
*    columnDataType: string,
*    isPk: boolean,
*    columnPkSource: string,
*    columnId: string,
*    tableId: string,
*    dxpColumnGk: int,
*    dxpTableGk: int,
-->