
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical panel-default">

    <!-- Notifications Area -->
    <div pf-toast-notification-list notifications="ctrl.notifications" show-close="ctrl.showClose" close-callback="ctrl.handleClose" update-viewing="ctrl.updateViewing"></div>

    <!-- Top Header -->
    <div class="row panel-heading">
        <div class="col-md-10">
            <h2 class="panel-title">{{ctrl.column.fullColumnName}}</h2>
        </div>
        <div class="col-md-2">
            <a ui-sref="columns" class="pointer pull-right">Back to list</a>
        </div>
    </div>


    <div class="row"><p></p></div>

    <!-- tabs-->
    <div class="row">
        <div class="col-md-10">
            <ul class="nav navbar-nav navbar-primary nav-tabs col-md-12">
                <li ng-class="(ctrl.tabId == 'info') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('info')">Info</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2" ng-show="ctrl.tabId == 'info'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.saveChanges()">Save Changes</button>
        </div>
    </div>

    <!-- General Info -->
    <div class="row" ng-show="ctrl.tabId == 'info'">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-columnKey">Column Key:</label>
                <span class="col-sm-4" id="text-columnKey">{{ctrl.column.columnKey}}</span>

                <label class="col-sm-2 control-label" for="text-fullColumnName">Full Name:</label>
                <span class="col-sm-4" id="text-fullColumnName">{{ctrl.column.fullColumnName}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-dbName">Database:</label>
                <span class="col-sm-4" id="text-dbName">{{ctrl.column.dbName}}</span>

                <label class="col-sm-2 control-label" for="text-schemaName">Schema:</label>
                <span class="col-sm-4" id="text-schemaName">{{ctrl.column.schemaName}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-tableName">Table:</label>
                <span class="col-sm-4" id="text-tableName">{{ctrl.column.tableName}}</span>

                <label class="col-sm-2 control-label" for="text-columnName">Column:</label>
                <span class="col-sm-4" id="text-columnName">{{ctrl.column.columnName}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-columnDataType">Data Type:</label>
                <span class="col-sm-4" id="text-columnDataType">{{ctrl.column.columnDataType}}</span>

                <label class="col-sm-2 control-label" for="text-isPk">Primary Key:</label>
                <span class="col-sm-4" id="text-isPk">{{ctrl.column.isPk}}</span>
            </div>

            <!-- Display Name -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-displayName">Display Name:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-displayName" class="form-control" ng-model="ctrl.column.displayName">
                </div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-description">Description:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-description" class="form-control" ng-model="ctrl.column.description">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-columnPkSource">PK Source:</label>
                <span class="col-sm-4" id="text-columnPkSource">{{ctrl.column.columnPkSource}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-columnId">Column ID:</label>
                <span class="col-sm-4" id="text-columnId">{{ctrl.column.columnId}}</span>

                <label class="col-sm-2 control-label" for="text-dxpColumnGk">DXP Column Key:</label>
                <span class="col-sm-4" id="text-dxpColumnGk">{{ctrl.column.dxpColumnGk}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-tableId">Table ID:</label>
                <span class="col-sm-4" id="text-tableId">{{ctrl.column.tableId}}</span>

                <label class="col-sm-2 control-label" for="text-dxpTableGk">DXP Table Key:</label>
                <span class="col-sm-4" id="text-dxpTableGk">{{ctrl.column.dxpTableGk}}</span>
            </div>

            <!-- Audit Info -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-createDate">Created On:</label>
                <span class="col-sm-4" id="text-createDate">{{ctrl.column.createDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateDate">Updated On:</label>
                <span class="col-sm-4" id="text-updateDate">{{ctrl.column.updateDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateBy">Updated By:</label>
                <span class="col-sm-4" id="text-updateBy">{{ctrl.column.updateBy}}</span>
            </div>
        </form>
    </div>

</div>


<!--
*    columnKey: int,
*    fullColumnName: string,
*    tableKey: int,
*    dbName: string,
*    schemaName: string,
*    tableName: string,
*    columnName: string,

*    displayName: string,
*    description: string,

*    columnDataType: string,
*    isPk: boolean,

*    columnPkSource: string,
*    columnId: string,
*    tableId: string,
*    dxpColumnGk: int,
*    dxpTableGk: int,

*    createDate: string (ISO8601 date),
*    updateDate: string (ISO8601 date),
*    updateBy: string
-->