
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical panel-default">

    <!-- Notifications Area -->
    <div pf-toast-notification-list notifications="ctrl.notifications" show-close="ctrl.showClose" close-callback="ctrl.handleClose" update-viewing="ctrl.updateViewing"></div>

    <!-- Top Header -->
    <div class="row panel-heading">
        <div class="col-md-10">
            <h2 class="panel-title">{{ctrl.server.serverName}}</h2>
        </div>
        <div class="col-md-2">
            <a ui-sref="servers" class="pointer pull-right">Back to list</a>
        </div>
    </div>


    <div class="row"><p></p></div>

    <!-- tabs-->
    <div class="row">
        <div class="col-md-8">
            <ul class="nav navbar-nav navbar-primary nav-tabs col-md-12">
                <li ng-class="(ctrl.tabId == 'info') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('info')">Info</a>
                </li>
                <li ng-class="(ctrl.tabId == 'systems') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('systems')">Related Systems</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4" ng-show="ctrl.tabId == 'info'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.saveChanges()">Save Changes</button>
        </div>
        <div class="col-md-3" ng-show="ctrl.tabId == 'systems'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.openLinkSystemsDialog()">Link Systems</button>
        </div>
        <div class="col-md-1" ng-show="(ctrl.tabId == 'systems') && (ctrl.selectedSystems.length > 0)">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.unLinkSelectedSystems()">Unlink Systems</button>
        </div>
    </div>

    <!-- General Info -->
    <div class="row" ng-show="ctrl.tabId == 'info'">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-serverKey">Server Key:</label>
                <span class="col-sm-4" id="text-serverKey">{{ctrl.server.serverKey}}</span>

                <label class="col-sm-2 control-label" for="text-serverName">Server Name:</label>
                <span class="col-sm-4" id="text-serverName">{{ctrl.server.serverName}}</span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-serverTypeCd">Server Type:</label>
                <span class="col-sm-4" id="text-serverTypeCd">{{ctrl.server.serverTypeCd}}</span>
            </div>

            <!-- Display Name -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-displayName">Display Name:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-displayName" class="form-control" ng-model="ctrl.server.displayName">
                </div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-description">Description:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-description" class="form-control" ng-model="ctrl.server.description">
                </div>
            </div>

            <!-- Audit Info -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-createDate">Created On:</label>
                <span class="col-sm-4" id="text-createDate">{{ctrl.server.createDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateDate">Updated On:</label>
                <span class="col-sm-4" id="text-updateDate">{{ctrl.server.updateDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateBy">Updated By:</label>
                <span class="col-sm-4" id="text-updateBy">{{ctrl.server.updateBy}}</span>
            </div>
        </form>
    </div>

    <div class="row"><p></p></div>

    <!-- List of Databases -->
    <div class="panel panel-default" ng-show="ctrl.tabId == 'info'">
        <div class="panel-heading">
            <h3 class="panel-title">Databases</h3>
        </div>
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 20%">Database Name</th>
                    <th style="width: 10%">Type</th>
                    <th style="width: 20%">Display Name</th>
                    <th style="width: 50%">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.server.databases">
                    <td><a ui-sref="database({key: {{item.domainKey}}})" class="pointer">{{ item.dbName }}</a></td>
                    <td>{{ item.dbTypeCd }}</td>
                    <td>{{ item.displayName }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- List of Related Systems -->
    <div class="panel panel-default" ng-show="ctrl.tabId == 'systems'">
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 5%"></th>
                    <th>System Name</th>
                    <th>Application</th>
                    <th>Display Name</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.relatedSystems">
                    <td><input type="checkbox" value="{{item.systemKey}}" ng-change="ctrl.systemChecked(this)" ng-model="item.isChecked"></td>
                    <td><a ui-sref="system({key: {{item.systemKey}}})" class="pointer">{{ item.systemName }}</a></td>
                    <td>{{ item.appName }}</td>
                    <td>{{ item.displayName }}</td>
                    <td>{{ item.systemDepartment }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Link Systems modal dialog -->
    <div select-systems-modal is-open="ctrl.isOpenSystemsDlg" on-close="ctrl.onCloseSystemsDlg()" on-save="ctrl.onSaveSystemsDlg(selectedItems)" title="ctrl.linkSystemsTitle"></div>

</div>

<!--
* # MdaServerModel
* {
*    serverKey: int,
*    serverName: string,
*    displayName: string,
*    description: string,
*    serverTypeCd: string,
*
*    createDate: string (ISO8601 date),
*    updateDate: string (ISO8601 date),
*    updateBy: string
*
* }
-->