
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical" ng-controller="serversController">
    <div class="row">
        <div class="col-md-12">
            <div pf-toolbar id="toolbar" config="ctrl.toolbarConfig"></div>
        </div>
    </div>


    <!-- The Card view -->
    <div class="col-md-12 card-view-container" ng-if="ctrl.viewType == 'cardView'">
        <div pf-card-view id="serversCardView" class="card-pf-view"
             config="ctrl.cardConfig"
             items="ctrl.items">

            <div class="card-pf-body">
                <a ui-sref="server({key: {{item.serverKey}}})" class="pointer">
                    <div class="card-pf-top-element">
                        <span class="pficon pficon-cluster card-pf-icon-circle"></span>
                    </div>
                </a>

                <h3 class="card-pf-title text-center">{{item.displayName}}</h3>

                <div class="card-pf-items text-center">
                    <div class="card-pf-item"  data-toggle="tooltip" title="Data Type">
                        <span class="fa fa-database"></span>
                        <span class="card-pf-item-text">{{item.serverTypeCd}}</span>
                    </div>
                </div>

                <div class="card-pf-info text-center">
                    <div class="card-pf-item" data-toggle="tooltip" title="Systems">
                        <span class="pficon pficon-image"></span>
                        <span class="card-pf-item-text"><a ui-sref="systems">Systems</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The list view -->
    <div class="col-md-12 list-view-container" ng-if="ctrl.viewType == 'listView'">
        <div pf-list-view id="serversListView"
             config="ctrl.listConfig"
             items="ctrl.items"
             action-buttons="ctrl.listActionButtons">

            <div class="list-view-pf-main-info">

                <a ui-sref="server({key: {{item.serverKey}}})" class="pointer">
                    <div class="list-view-pf-left">
                        <span class="pficon pficon-cluster list-view-pf-icon-sm"></span>
                    </div>
                </a>

                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{item.displayName}}
                        </div>
                        <div class="list-group-item-text">
                            {{item.serverTypeCd}}
                        </div>
                    </div>

                    <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item">
                            <span class="list-group-item-text">{{item.serverName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The data table view -->
    <div class="col-md-12" ng-if="ctrl.viewType == 'tableView'">

        <!--<table datatable="ng" class="datatable table table-striped table-bordered">-->
        <table class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.items">
                    <td><a ui-sref="server({key: {{item.serverKey}}})" class="pointer">{{ item.serverName }}</a></td>
                    <td>{{ item.displayName }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.serverTypeCd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--
* # MdaServerModel
* {
*    serverKey: int,
*    serverName: string,
*    displayName: string,
*    description: string,
*    serverTypeCd: string,
*
*    createDate: string (ISO8601 date),
*    updateDate: string (ISO8601 date),
*    updateBy: string
*
* }
-->