
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical panel-default">

    <!-- Notifications Area -->
    <div pf-toast-notification-list notifications="ctrl.notifications" show-close="ctrl.showClose" close-callback="ctrl.handleClose" update-viewing="ctrl.updateViewing"></div>

    <!-- Top Header -->
    <div class="row panel-heading">
        <div class="col-md-10">
            <h2 class="panel-title">{{ctrl.entity.businessEntityName}}</h2>
        </div>
        <div class="col-md-2">
            <a ui-sref="entities" class="pointer pull-right">Back to list</a>
        </div>
    </div>


    <div class="row"><p></p></div>

    <!-- tabs-->
    <div class="row">
        <div class="col-md-10">
            <ul class="nav navbar-nav navbar-primary nav-tabs col-md-12">
                <li ng-class="(ctrl.tabId == 'info') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('info')">Info</a>
                </li>
                <li ng-class="(ctrl.tabId == 'systems') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('systems')">Related Systems</a>
                </li>
                <li ng-class="(ctrl.tabId == 'tables') ? 'active' : ''">
                    <a class="pointer" ng-click="ctrl.tabSelected('tables')">Related Tables</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2" ng-show="ctrl.tabId == 'info'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.saveChanges()">Save Changes</button>
        </div>
        <div class="col-md-2" ng-show="ctrl.tabId == 'systems'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.openLinkSystemsDialog()">Link Systems</button>
        </div>
        <div class="col-md-2" ng-show="ctrl.tabId == 'tables'">
            <button class="btn btn-default pull-right" type="button" ng-click="ctrl.openLinkTablesDialog()">Link Tables</button>
        </div>
    </div>

    <div class="row"><p></p></div>

    <!-- General Info -->
    <div class="row" ng-show="ctrl.tabId == 'info'">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-businessEntityKey">Entity Key:</label>
                <span class="col-sm-4" id="text-businessEntityKey">{{ctrl.entity.businessEntityKey}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-businessEntityName">Entity Name:</label>
                <span class="col-sm-4" id="text-businessEntityName">{{ctrl.entity.businessEntityName}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-displayName">Display Name:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-displayName" class="form-control" ng-model="ctrl.entity.displayName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-description">Description:</label>
                <div class="col-sm-4">
                    <input type="text" id="text-description" class="form-control" ng-model="ctrl.entity.description">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-createDate">Created On:</label>
                <span class="col-sm-4" id="text-createDate">{{ctrl.entity.createDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateDate">Updated On:</label>
                <span class="col-sm-4" id="text-updateDate">{{ctrl.entity.updateDate}}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="text-updateBy">Updated By:</label>
                <span class="col-sm-4" id="text-updateBy">{{ctrl.entity.updateBy}}</span>
            </div>
        </form>
    </div>


    <!-- List of Related Systems -->
    <div class="row" ng-show="ctrl.tabId == 'systems'">
        <div class="panel-body">
            <table class="datatable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>System Name</th>
                        <th>Application</th>
                        <th>Display Name</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="system in ctrl.relatedSystems">
                        <td><a ui-sref="system({key: {{system.systemKey}}})" class="pointer">{{ system.systemName }}</a></td>
                        <!--<td>{{ system.systemName }}</td>-->
                        <td>{{ system.appName }}</td>
                        <td>{{ system.displayName }}</td>
                        <td>{{ system.systemDepartment }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- List of Related Tables -->
    <div class="row" ng-show="ctrl.tabId == 'tables'">
        <div class="panel-body">
            <table class="datatable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Table Name</th>
                        <th>Display Name</th>
                        <th># Rows</th>
                        <th># Columns</th>
                        <th>Object Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="table in ctrl.relatedTables">
                        <td><a ui-sref="table({key: {{table.tableKey}}})" class="pointer">{{ table.tableName }}</a></td>
                        <!--<td>{{ table.tableName }}</td>-->
                        <td>{{ table.displayName }}</td>
                        <td>{{ table.tableRowCount }}</td>
                        <td>{{ table.tableNumOfCols }}</td>
                        <td>{{ table.objectType }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Link Tables modal dialog -->
    <div select-tables-modal is-open="ctrl.isOpenTablesDlg" on-close="ctrl.onCloseTablesDlg()" on-save="ctrl.onSaveTablesDlg(selectedItems)" title="ctrl.linkTablesTitle"></div>

    <!-- Link Systems modal dialog -->
    <div select-systems-modal is-open="ctrl.isOpenSystemsDlg" on-close="ctrl.onCloseSystemsDlg()" on-save="ctrl.onSaveSystemsDlg(selectedItems)" title="ctrl.linkTSystemsTitle"></div>

</div>

<!--
 * # MdaBusinessEntity
 * {
 *    businessEntityKey: int,
 *    businessEntityName: string,
 *    displayName: string,
 *    description: string,
 *
 *    createDate: string (ISO8601 date),
 *    updateDate: string (ISO8601 date),
 *    updateBy: string
 * }
-->